<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ get("title", "Company")}}
    </title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="/app.js" type="module"></script>
    % if is_index_page:
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
        <script src="../js/houses.js" type="module"></script>
    % end
</head>
    <nav>
        <a href="/">Home</a>
        <span id="loggedOutLinks">
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        </span>
        <span id="loggedInLinks" class="hidden">
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
        </span>
        <span id="adminLink" class="hidden">
            <a href="/admin">Admin</a>
        </span>
    </nav>
<body>
    
