% include("_header")


<main id="profilePage">
    <h1 id="profileWelcome"></h1>
    <section id="profileCreateHouseContainer"></section>
    <section id="profileHouseContainer"></section>
    <section>
        <ul>
            <li id="profileUsername"></li>
            <li id="profileEmail"></li>
        </ul>
            <button id="editProfileBtn">Edit Profile</button>
            <button id="deleteProfileBtn">Delete Profile</button>
    </section>


</main>

<div id="editProfileModal" class="modal">
    <div id="modalProfile" class="modal-content">
        <span class="close">&times;</span>
        <form id="editProfileForm">
            <input type="text" name="user_username" id="placeholderUsername">
            <input type="email" name="user_email" id="placeholderEmail">
            <button type="submit">Save Changes</button>
            <a href="/reset-password-form">Forgot password?</a>
        </form>
    </div>
</div>

<div id="deleteProfileModal" class="modal">
    <div id="modalProfile" class="modal-content">
        <span class="close">&times;</span>
        <p>Please enter you're password if you want to delete you're account</p>
        <form id="deleteProfileForm">
            <input type="password" name="user_password" placeholder="password">
            <button type="submit">Yes, delete</button>
        </form>
    </div>
</div>

<div id="houseModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h1 id="modal-house-name"></h1>
        <p id="modal-house-description"></p>
        <p id="modal-house-price"></p>
        <p id="modal-house-stars"></p>
        <div id="modal-house-images"></div>
        <form id="editHouseForm">
            <input type="text" placeholder="name" name="house_name">
            <textarea type="text" class="houseDescriptionTextArea" placeholder="description" name="house_description"></textarea>
            <input type="text" placeholder="price per night" name="house_price_per_night">
            <input type="text" placeholder="stars" name="house_stars">
            <input type="file" name="image" accept="image/*" multiple>
            <button type="submit">Submit changes</button>
        </form>
        <button id="deleteHouseBtn">Delete house</button>
    </div>
</div>

% include("_footer")