<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ get("title", "Company")}}
    </title>
    <script src="../js/resetPassword.js" type="module"></script>
</head>
<body>
    <form id="resetPasswordForm">
        <input name="user_email" type="text" placeholder="email">
        <input name="user_password" type="password" placeholder="new password">
        <button type="submit">
        Login
        </button>
    </form>
</body>
</html>

