<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ get("title", "Company")}}
    </title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="../js/resetPassword.js" type="module"></script>
</head>
<body>
    <form id="resetPasswordForm">
        <h2>Reset password</h2>
        <input name="user_password" type="password" placeholder="new password">
        <input name="user_password_2" type="password" placeholder="confirm password">
        <button type="submit">
        Reset
        </button>
    </form>
</body>
</html>

