% include("_header")

<main>
    <form id="signupForm" autocomplete="off">
        <input name="user_username" type="text" placeholder="username">
        <input name="user_email" type="text" placeholder="email">
        <input name="user_password" type="password" placeholder="password">
        <select name="user_role">
            <option value="partner">Partner</option>
            <option value="customer">Customer</option>
        </select>
        <button type="submit">
        Signup
        </button>
    </form>
</main>

% include("_footer")